

html{
  /* Variables */

  /* Background color */
  --bg-color: #DFE2EA;

  /* Color para los botones */
  --button-color: #FFD050;

  /* Color para los parrafos*/
  --p-color: #221132;

  /* Otros colores */
  --color1-color: #E8ABEB;
  --color2-color: #EACCEB;
  --color3-color: #D2CBCB;
  --color4-color: #FFFFFF;
  --color5-color: #000000;

}


/* centrar */


/* centrar */
.intro-text {
  font-size: 20px; /* o el tamaño que quieras */
}

li {
  font-size: 20px;
  margin-bottom: 0.5rem;
}

body {
  font-family: 'MagallanesRegular', sans-serif;
  background-color: var(--bg-color);
}
/* agregar fuentes */
@font-face {
  font-family: 'MagallanesRegular';
  src: url('../../assets/font/MagallanesRegular.otf') format('opentype');
}
@font-face {
  font-family: 'MagallanesBold';
  src: url('../../assets/font/MagallanesBold.otf') format('opentype');
}
.form-section{
  font-family: 'MagallanesRegular', sans-serif;
  text-align:left;
  
}
/* termina  fuentes */


.navbar .navbar-brand {
  color: #FFFFFF; /* Naranja */
  font-size: 20px; /* Tamaño de letra opcional */
}


.bg-dark-purple {
  background-color: #221132;
}

.bg-ligh-yellow{
  background-color: var(--button-color);
}

.navbar .nav-link {
  color: #ffffff; 
  font-size: 16px;
  transition: color 0.3s ease;
}

.navbar .nav-link:hover {
  color: #ffcc00; 
}

.navbar .nav-link.active {
  color: #00bcd4; 
  font-weight: bold;
}

.navbar .form-control {
  border: 1px solid #ffffff;
  background-color: #ffffff;
  color: #ffffff;
}

.navbar .form-control::placeholder {
  color: #cccccc; 
}

.navbar .btn-outline-light {
  border: 1px solid #ffffff;
  color: #ffffff;
}

.navbar .btn-outline-light:hover {
  background-color: #ffcc00;
  border-color: #ffcc00;
  color: #221132;
}

h1, h2, h3, h4, h5, h6{
font-weight: bold;
}

p {
font-size: 20px;
color: var(--p-color);
margin: 0;

}

.card-text-center{
margin: 30px 110px 30px 110px;
text-align: center;
}

p.card-text{
text-align: justify;
font-size: 20px; 
}

.card-title {
/* background-color: var(--color3-color  ); */
margin-top: 30px;
  margin-bottom: 30px;
  font-size: 40px; 
  text-align: center; 
}

div.col div.card{
height: 100%;
}
.col{
margin: 2%;
}
.card-img-top{
margin: auto;
display: flex;
border-radius: 50%;
}
.card-img-top:hover{
transform: scale(1.1);
}
.row{
max-width: 100%;
display: flex;
justify-content: center; 
}
div.row div.col div.card div.card-body h5.card-title{
text-align: center;
}

@media (max-width: 768px){
.card-text-center{
    margin: 15px 15px 40px 15px;
    text-align: center;
}

div.card.text-center div.card-body{
    text-align: justify;
}

div.card.text-center div.card-body h1{
    text-align: center;
    font-size: 30px;
}

div.card.text-center div.card-body h5{
    text-align: center;
    font-size: 25px;
}

div.card.text-center div.card-body p{

    text-align: justify;
    font-size: 18px;
}

div.row div.col div.card div.card-body p{
    font-size: 15px;
}

div.row div.col{
    display: flex;
    width: 45%;
}
.card-img-top{
    border-radius: 50%;
    width: 70%;
}
.card-img-top:hover{
    transform: scale(1.2);
}
}


/* Estilos generales */
.footer {
  background-color: var(--color1-color); /* Color de fondo principal */
  
}

/* Colores personalizados */
.bg-dark-purple {
  background-color: #2c0d47; 
  height: 80px;/* Morado oscuro */
}

.bg-light-purple {
  background-color: var(--color1-color); /* Morado claro */
}

.btn-yellow {
  background-color: #ffc107; /* Amarillo */
  color: #2c0d47; /* Texto morado oscuro */
  border: none;
  margin-top: 15px;
  padding: 10px 20px;
  border-radius: 20px;
  font-size: 16px;
  cursor: pointer;
}

.form-section {
  padding-top: 5rem;
}
.card {
  background-color: #e5eaf4;
  border: none;
  padding: 20px;
}
.btn-custom {
  background-color: #ffce00;
  border: none;
  color: #2b2a4c;
  font-weight: bold;
}

.form-control:focus {
border-color: blue;
box-shadow: 0 0 0 0.25rem rgba(0, 89, 255, 0.25);
}

.btn-yellow:hover {
  background-color: #e0a800;
}

.footer-link {
  color: #2c0d47; 
  text-decoration: none;
  margin-left: 15px;
  font-weight: 600;
}

.footer-link:hover {
  text-decoration: underline;
}

.nav {
  display: inline-block;
}

h5, h6 {
 margin-top: 10px;
}


.rounded-start {
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}

.rounded-end {
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
}

div.register{
  min-height: 100vh;
  display: grid;
  grid-template-rows: auto 1fr auto;
}
.mainbg{
  background-image: url(../../assets/Diseño\ sin\ título.jpg);
}